body {
    background-color: #f8f8f8;
}

.book-library {
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

.book {
    border: 3px solid grey;
    box-shadow: 5px 5px 5px grey;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.book img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.book h2 {
    text-align: left;
}

.book .author {
    color: rgb(119, 119, 119);
    text-align: left;
}

.book .price {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    border-radius: 3px;
    padding: 5px;
}
h1{
	text-align:center;
}
#price{
	/* color:rgba(0, 0, 0, 0); */
	background-color:rgb(46, 204, 113);
	color:rgb(255, 255, 255);
	/* border-radius:3px; */
}